.page-highlight {
  background: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.page-features {
  background: #f7f8fa;
  padding-top: 120px;
  padding-bottom: 120px;
}

.page-flow {
  background: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}
