.services-highlight {
  background: #ffffff;
  padding-top: 80px;
  padding-bottom: 120px;
}

.services-areas {
  background: #f7f8fa;
  padding-top: 120px;
  padding-bottom: 120px;
}

.services-flow{
background:#ffffff;
padding:120px 0;
}